@font-face {
   font-family: 'Saira';
   src: url('Saira-Light.otf') format('opentype');
}

html {
   font-family: 'Saira';
   height: 100%;
}

@media (prefers-color-scheme: dark) {
   body {
      background: radial-gradient(63.49% 28.45% at 0% 0%, #34ADC5 0%, rgba(0, 213, 255, 0) 100%),
      linear-gradient(180deg, #473A4A 45.14%, #2E2E2E 95.87%);
   }
    p {
      color: #D3D3D3;
    }
}

@media (prefers-color-scheme: light) {
   body {
      background: linear-gradient(180deg, #E6E6E6 45.32%, #E7E0E9 95.63%);
   }
}

.container {
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 100%;
}
